<div class="container pt-4">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
        {{errorMessage}}
      </div>
      <form #f="ngForm" (ngSubmit)="onLogin()">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email"
                 class="form-control"
                 id="email"
                 ngModel
                 required
                 email
                 name="email">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password"
                 class="form-control"
                 id="password"
                 ngModel
                 required
                 name="password">
        </div>
        <button type="submit" class="btn btn-outline-primary" [disabled]="!f.valid">Login</button>
      </form>
      <button type="submit" class="btn btn-outline-primary float-end" (click)="onFillIn()">FILL IN</button>
    </div>
  </div>
</div>
